# Node
node_modules/

# Database
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal
backup_*.db

# Environment (RAHASIA!)
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*